* {
  box-sizing: border-box;
}

.header_container {
  border: 1px solid red;
  height: 150px;
  display: flex;
  align-items: center;
  img {
    width: 180px;
    height: 150px;
    object-fit: contain;
  }
  .search_container {
    input {
      width: 518px;
      height: 44px;
    }
    div {
      display: flex;
      justify-content: space-between;
      div {
        span {
          font-size: 12px;
        }
      }
    }
  }
}

.navbar {
  border: 1px solid blue;
  box-sizing: border-box;
  height: 46px;
  font-size: 13px;
  padding-left: 45px;
}
.today_base {
  float: right;
  position: relative;
  height: 45px;
  width: 213px;
  line-height: 45px;
  border: 1px solid oranges;
}
